In [4]:
num = 10

In [5]:
num2 = 20

In [6]:
num + num2

30

In [7]:
name = '김준일'

In [9]:
address = "부산 \n동래구\n중앙대로"

In [11]:
print(address)

부산
동래구
중앙대로

In [13]:
address2 = """부산
동래구
중앙대로"""

In [14]:
print(address2)

부산
동래구
중앙대로

In [15]:
sql = """
select
    *
from
    user_tb
"""

In [16]:
print(sql)

select
    *
from
    user_tb

In [17]:
# """"따옴표 3개 안에 넣으면 자동 줄바꿈 해준다""

In [18]:
isEmpty = len(sql) == 0

In [22]:
# len(): 길이를 알려줌
print(isEmpty)
# Ture, False는 무조건 대문자로 시작

False

In [23]:
isShow = true

NameError: name 'true' is not defined

In [25]:
isShow = True
# t소문자로 쓰면 오류남

In [28]:
print(isShow && isEmpty)

SyntaxError: invalid syntax (4282254112.py, line 1)

In [29]:
print(isShow and isEmpty)

False

In [30]:
print(isShow and not isEmpty)

True

In [31]:
print(isShow or isEmpty)

True