In [1]:
str = "'test'"

In [2]:
print(str)

'test'

In [3]:
print("'aaa', \"aaa\"")

'aaa', "aaa"

In [4]:
# 역슬러시\를 이용하여 이스케이프 처리해주면 큰따옴표안에 큰따옴표 사용이 가능해진다

In [6]:
print('"bbb", \'bbb\'')

"bbb", 'bbb'

In [7]:
print('김준일')

김준일

In [9]:
print("김준일\n" * 10)
# 단순 문자열 반복 출력의 경우 *만 해줘도 된다

김준일
김준일
김준일
김준일
김준일
김준일
김준일
김준일
김준일
김준일

In [12]:
address = "부산 동래구 중앙대로 1285번길"

In [13]:
print(address[0])

부

In [15]:
print(address[0:6])
# 문자열 슬라이싱
print(address[:6])
# 0은 생략가능
print(address[7:])
# 문자열 끝은 생략 가능

부산 동래구
부산 동래구
중앙대로 1285번길

In [16]:
names = ['김준일', "김준이", "김준삼", "김준사"]

In [22]:
print(names[0][1:])
print(names[1][1:])
print(names[2][1:])
print(names[3][1:])

준일
준이
준삼
준사

In [21]:
for name in names:
    print(name[1:])

준일
준이
준삼
준사

In [26]:
for i in range(4):
    print(names[i][1:])
# python의 for문은 forEach기반

준일
준이
준삼
준사

In [29]:
# while은 조건부일 때 for은 범위가 있을 때 사용

In [30]:
print(range(10))
#  renge는 범위를 지정해줌 (n부터, n전까지): (0, 10) = 0,1,2,3,4,5,6,7,8,9

range(0, 10)

In [32]:
# f포메팅(3.6미만에서는 사용 불가) = 표현식
username = "aaa"

sql = f"""
select
    *
from
    user_tb
where
    username = {username}
"""

print(sql)

select
    *
from
    user_tb
where
    username = aaa

In [37]:
name = "김김김준일"
print(name.count("김"))
print(len(name))
print(name.find("김"))
print(name.find("준"))
print(name.index("김"))
print(name.find("이"))
print(name.index("이"))
# find는 못찾으면 -1을 주고, index는 에러를 띄운다

3
5
0
3
0
-1

ValueError: substring not found

In [40]:
name = "김준일"
print(name)
name = " ".join(name)
print(name)

김준일
김 준 일

In [42]:
name2 = "김준일"
name2 = name2.join(" ")
print(name2)
# " "사이에 name2를 집어 넣어라가 되는데 
# ""는 띄어쓰기 하나만 있으므로 첫글자이자 끝글자이다 따라서 name2를 집어넣을 공간이 없어 빈값이 print된다

In [43]:
#  문자열의 공백처리는 점프 투 파이썬 보고 lstrip, rstrip, strip, replace, split 공부하기